body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.albumWrapper {
  padding: 2rem;
  background-color: #171717;
}


.albumArtists {
  color: #757272;
}

.albumName {
  color: white;
}

.albumsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.albumImageWrapper {
  position: relative;
  width: 100%;
}

.albumImage {
  width: 100%;
}

.albumOverlay {
  background-color: rgba(23, 23, 23, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
 }
 
 .albumImageWrapper:hover .albumOverlay {
   display: block;
 }

/* ------------------ MEDIA QUERIES ------------------ */

@media screen and (min-width: 768px) {
  .albumsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .albumsWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}